<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>artifactory</id>
            <username>${artifactoryUser}</username>
            <password>${artifactoryPassword}</password>
        </server>
        <server>
            <id>central</id>
            <username>dp-admin</username>
            <password>Dp@2022!</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>dp-admin</username>
            <password>Dp@2022!</password>
        </server>
        <server>
            <id>dp-central</id>
            <username>dp-admin</username>
            <password>Dp@2022!</password>
        </server>
        <server>
            <id>dp-snapshots</id>
            <username>dp-admin</username>
            <password>Dp@2022!</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>it-dp-maven-local</name>
                    <url>https://repo.cicc.com.cn/artifactory/it-dp-maven-local</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>it-dp-maven-virtual</name>
                    <url>https://repo.cicc.com.cn/artifactory/it-dp-maven-virtual</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>aliyun</id>
                    <name>jcenter</name>
                    <url>https://maven.aliyun.com/repository/jcenter</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>it-dp-maven-local</name>
                    <url>https://repo.cicc.com.cn/artifactory/it-dp-maven-local</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>it-dp-maven-virtual</name>
                    <url>https://repo.cicc.com.cn:443/artifactory/it-dp-maven-virtual</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>